body {
    background: linear-gradient(120deg,rgba(240, 166, 202, 1), rgba(23, 190, 187, 1));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0%;
    font-family: Agency FB;
    

}
.flex-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
align-items:center
}

.main {
    margin-top: -10px;
    position: absolute;
    text-align: center;
 }
#h1-signup {
    margin-top: 0%;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507);
}
::placeholder {
    color:rgba(0, 0, 0, 0.408);
    font-size: 14px;
}
.input-box {
    padding: 15px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    /* border: 1px solid greenyellow; */
    border: none;
    border-radius: 10px;
    transition: 0.4S;
    margin: 10px;
    font-size: 18px;
}
.input-box:hover{
    margin: 6px;
    padding: 19px;
    transition: 0.4S;
}
#register-button {
    margin: 0%;
    width: 280px;
    /* padding: 15px 15px 15px 15px; */
    padding: 15px;
    border:none;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    /* margin: 10px; */
}
#register-button:hover {
    background-color: rgba(0, 0, 0, 0.845);
}

#hr-1 {
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.254)
    /* color: white; */
}
a {

    color: rgba(255, 255, 255, 0.591);
    /* color: blue; */
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}


@media (min-width: 768px) and (max-width: 2560px) {

    #h1-signin {
        /* margin-top: -20%; */
        font-size: 50px;
        color: white;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.507);
    }
    ::placeholder {
        color:rgba(0, 0, 0, 0.408);
        font-size: 14px;
    }
    .input-box {
        padding: 15px;
        width: 450px;
        background-color: rgba(255, 255, 255, 0.4);
        /* border: 1px solid greenyellow; */
        border: none;
        border-radius: 10px;
        transition: 0.4S;
        margin: 10px;
        font-size: 16;
    }
    .input-box:hover{
        margin: 6px;
        
        padding: 19px;
    
    transition: 0.4S;
    
    
    }
    #register-button {
        margin: 0%;
        /* padding: 15px 15px 15px 15px; */
        padding: 15px;
        border:none;
        background-color: rgba(0, 0, 0, 0.705);
        color: white;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px 0px 10px 0px;
        /* margin: 10px; */
        width: 480px;
        transition: 0.5S;

    }


}




@media (min-width: 270px) and (max-width: 500px) {
    body {
      background-color: rgb(60, 0, 255);
    }
}